<header> <br><br>
  <form action="#" method="post">
    <div class="form-group">
      <mat-form-field appearance="fill" [style.width.px]=500>
        <mat-label>Email:</mat-label>
        <input matInput type="email" [(ngModel)]="email" name="femail" required>
      </mat-form-field> <br>
      <mat-form-field appearance="fill"[style.width.px]=500>
        <mat-label>Password:</mat-label>
        <input matInput type="password" [(ngModel)]="password" name="fpassword" required>
      </mat-form-field> <br>
      <button mat-raised-button color="warn" type="submit" [style.width.px]=500 (click)="signIn(email)">Sign in</button>
      <div><br></div>
      <button mat-raised-button color="primary" type="submit" [style.width.px]=500 (click)="newUser()">New User</button>
    </div>
  </form>
</header>
