<script src="../../search-bar/search-bar.component.ts"></script>

<table mat-table [dataSource]="students">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let student">{{ student.id }}</td>
  </ng-container>

  <!-- Last Name Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Last Name</th>
    <td mat-cell *matCellDef="let student">{{ student.lastName }}</td>
  </ng-container>

  <!-- First Name Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>First Name</th>
    <td mat-cell *matCellDef="let student">{{ student.firstName }}</td>
  </ng-container>

  <!-- Languages Column -->
  <ng-container matColumnDef="language">
    <th mat-header-cell *matHeaderCellDef>Native Language</th>
    <td mat-cell *matCellDef="let student">{{ student.language }}</td>
  </ng-container>

  <!-- Sessions Column -->
  <ng-container matColumnDef="sessions">
    <th mat-header-cell *matHeaderCellDef>Enrolled Sessions</th>
    <td mat-cell *matCellDef="let student">{{ student.sessions.join(', ') }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['id', 'lastName', 'firstName', 'language', 'sessions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['id', 'lastName', 'firstName', 'language', 'sessions'];"></tr>
</table>

<div>
    <app-search-bar (messageEvent)="receiveMessage($event)"></app-search-bar>
</div>

