mat-grid-tile {
  background-color: #6B2639;
}
a:link, a:visited, a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}
.example-action-button {
  margin-top: 8px;
  margin-right: 8px;
}
