<mat-tab-group [selectedIndex]="studentService.selected.value"
               (selectedIndexChange)="studentService.selected.setValue($event)">
  <mat-tab label="Sessions"> <app-study-sessions></app-study-sessions> </mat-tab>
  <mat-tab label="Students"> <app-students-table></app-students-table> </mat-tab>
  <mat-tab label="Sign In" [disabled]="studentService.logInDisable"> <app-sign-in></app-sign-in> </mat-tab>
  @for (tab of studentService.tabs; track tab; let index = $index) {
    <mat-tab [label]="tab">
      <profile-content></profile-content>
      <button mat-raised-button
              class="example-delete-tab-button"
              (click)="studentService.removeTab(index)">
        Delete Tab
      </button>
    </mat-tab>
  }
</mat-tab-group>
